html    {
    font-size: 20px;
    color: rgb(133, 189, 69);
    height: 100%;
    font-family: Lobster;
}
h1 {
    font-size: 2rem;
    text-align: right;
    text-shadow: 2px 1px 10px rgba(122, 255, 211, 0.966);
    padding-right: 10px;
}

body {
    background-image: url(../img/ChristmasTree.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    height: 100%; 
}

.wrapper {
    background-image: url('../img/icon/snowflakes_1.png'),
    url('../img/icon/snowflakes_2.png'), url('../img/icon/snowflakes_3.png');
    height: 100%;
    animation: snow 20s linear infinite;
    -webkit-animation: snow 20s linear infinite;
    -moz-animation: snow 20s linear infinite;
    -ms-animation: snow 20s linear infinite;
}

@keyframes snow {
    0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
    100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}
@-moz-keyframes snow {
    0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
    100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}
@-webkit-keyframes snow {
    0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
    100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}
@-ms-keyframes snow {
    0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
    100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
} 

/* ============================================== */
@media (max-height: 450px) {
    body {
        background-size: cover;
    }
}
@media (max-width: 340px) {
    body {
        background-position: 50% 100%;
    }
}
@media (orientation: portrait) {
    /* Если высота экрана больше ширины, свойство применяется */
}
@media (orientation: landscape) {
    /* Если ширина экрана больше высоты, свойство применяется */
}